<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parcel Delivery Tracking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script src="{{ url_for('static', filename='mainJSscript.js') }}"></script>
</head>
<body>
    <div class="login-container">
        <h1>Parcel Tracking System</h1>
        <p>Welcome to the Parcel Tracking System!</p>
        <p>Please log in to access your account and track your parcels.</p>
        
        <form action="/login" method="post" class="login-form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            
            <div class="form-actions">
                <a href="{{ url_for('registration_page') }}">Don't have an account? Register here.</a>
            </div>
            
            <button type="submit" class="submit-btn">Login</button>
        </form>
    </div>
</body>
</html>